@import "tailwindcss";

/* /Pokemon Solid.ttf */
@font-face {
  font-family: 'Pokemon Solid';
  src: url('/Pokemon Solid.ttf') format('truetype');
}

/* /Pokemon Hollow.ttf */
@font-face {
  font-family: 'Pokemon Hollow';
  src: url('/Pokemon Hollow.ttf') format('truetype');
}

body {
  background-image: url('/cobblemon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Inter', sans-serif;
  color: #f0f0f0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  z-index: -1;
}

h1, h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
  transition: color 0.3s ease;
}

a:hover {
  color: #ff6347;
}

.pokemonFont {
  font-family: 'Pokemon Solid', sans-serif;
}

.pokemonFontHollow {
  font-family: 'Pokemon Hollow', sans-serif;
}